menu "mrubyc-esp32 Configuration"

  choice
    prompt "TIME ZONE"
    default TIME_ZONE_UTC

    config TIME_ZONE_UTC
        bool "UTC"
    config TIME_ZONE_JST
        bool "JST-9"
  endchoice

  config MRUBYC_TIMEZONE
    string
    default "UTC"   if TIME_ZONE_UTC
    default "JST-9" if TIME_ZONE_JST

  config USE_MRUBYC_HTTP_CAMERA
    bool "USE ESP-EYE CAMERA (idf.py add-dependency \"espressif/esp32-camera\")"
    default n

  config USE_MRUBYC_WS2813
    bool "USE WS2813 RGB-LED (idf.py add-dependency \"espressif/led_strip^3.0.0\")"
    default n

endmenu

