menu "mrubyc-esp32 Configuration"

  config USE_MRUBYC_DEBUG
    bool "OUTPUT MRUBYC FUNCTIONs MESSAGES"
    default n

  choice
    prompt "UART Number for STDIO"
    default UART_NUM_0

    config UART_NUM_0
        bool "UART0"
    config UART_NUM_2
        bool "UART2"
  endchoice

  config UART_NUM
    int
    default 0 if UART_NUM_0
    default 2 if UART_NUM_2

  config USE_MRUBYC_HTTP_CAMERA
    bool "USE ESP-EYE CAMERA (idf.py add-dependency \"espressif/esp32-camera\")"
    default n

  config USE_MRUBYC_WS2813
    bool "USE WS2813 RGB-LED (idf.py add-dependency \"espressif/led_strip^3.0.0\")"
    default n

endmenu

